#heading-money-master {
    color: #31A5AC;
    font-size: 40px;
    text-align: center;
    font-weight: bolder;

}

#money-master-section {
    display: flex;
    gap: 4%;
    margin: 0px 50px 50px;
}

#money-master-image {
    width: 100%;
    height: 100%;
}

#income-div {
    width: 100%;
    background: #F8F8F8;
}

#image-div {
    width: 100%;
}

#income {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 22px;
    font-weight: bolder;
    width: 100%;
    margin-top: 30px;
}

#monthly-income,
#monthly-food,
#monthly-rent,
#monthly-cloth {
    text-align: center;
}

#income-span,
#food-span,
#rent-span,
#cloth-span {
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    margin-right: 15px;
}

#input-income,
#input-food,
#input-rent,
#input-cloth {
    border-radius: 2px;
    background: #DCDCDC;
    border: 0;
    width: 200px;
    height: 35px;
    text-align: center;
    outline: none;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#expenses {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-weight: bolder;
    width: 100%;
    /* margin-top: 14px; */

}

#calculate-button {
    border-radius: 4px;
    border: 0px;
    background: #59A5FF;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.10);
    width: 170px;
    height: 40px;
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
}

#button-holder {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

#input-save {
    border-radius: 2px;
    background: #DCDCDC;
    border: 0;
    width: 100px;
    height: 35px;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    outline: none;
}

#saving-button,
#reset-button {
    border-radius: 4px;
    border: 0px;
    background: #59A5FF;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.10);
    width: 170px;
    height: 40px;
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin-left: 15px;
    cursor: pointer;
}

#saving-percent {
    font-weight: bolder;
}

#monthly-save {
    text-align: center;
    font-size: 18px;
}

#reset-div {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}